<div>
<h3>Cohorts Challenge Bracket</h3>
<table class="striped">
    <thead>
      <tr>
        <th data-field="id">User Name</th>
        <th data-field="price">Points</th>
        <th data-field="projected_winner">Projected Winner</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>LaDonna</td>
        <td>23</td>
        <td>Gonzaga</td>
      </tr>
      <tr>
        <td>Terrill</td>
        <td>22</td>
        <td>Kentucky</td>
      </tr>
      <tr>
        <td>Tambo</td>
        <td>21</td>
        <td>Minnesota</td>
      </tr>
      <tr>
        <td>Luke</td>
        <td>20</td>
        <td>Virginia</td>
      </tr>
    </tbody>
</table>
</div>

<span></span>
